<div class="colored-box" id="box1">
    <div class="content">
      <div class="left">
        <i class="fa fa-university" style="font-size:20px;"></i>

      </div>
      <div class="right">
        <p class="no1">10</p>
        <p class="text1">Incubator</p>        
      </div>
    </div>
  </div>
  
<div class="colored-box" id="box2">
    <div class="content">
      <div class="left">
        <i class="fa fa-university" style="font-size:20px;"></i>

      </div>
      <div class="right">
        <p class="no2">15</p>
        <p class="text1">Graduate</p>        
      </div>
    </div>
  </div>
  
<div class="colored-box" id="box3">
    <div class="content">
      <div class="left">
        <i class="fa fa-university" style="font-size:20px;"></i>

      </div>
      <div class="right">
        <p class="no3">25</p>
        <p class="text1">Total</p>        
      </div>
    </div>
  </div>
  
<div class="colored-box" id="box4">
    <div class="content">
      <div class="left">
        <i class="fa fa-university" style="font-size:20px;"></i>

      </div>
      <div class="right">
        <p class="no4">10</p>
        <p class="text1">Investment</p>        
      </div>
    </div>
  </div>
  
