<swiper
[slidesPerView]="4"
[spaceBetween]="8"

[navigation]="true"
[pagination]="{ clickable: true }"
>
<ng-template swiperSlide>
    <img style="height: 170px; width: 170px;  box-shadow: 3px 3px 3px 3px #d3c3c3;
    border-radius: 10px; " src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bWVldGluZ3xlbnwwfHwwfHx8MA%3D%3D" alt="">
    <h4 ><strong>Webinar on ESOPS</strong></h4>
    <p style="color: black;">by Mr. Sambhav and Mr. Akash</p>

</ng-template>
<ng-template swiperSlide>
    <img style="height: 170px; width: 170px;  box-shadow: 3px 3px 3px 3px #d3c3c3;
    border-radius: 10px; " src="https://images.unsplash.com/photo-1606761568499-6d2451b23c66?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bGVjdHVyZXxlbnwwfHwwfHx8MA%3D%3D" alt="">
    <h4 ><strong>Workshop on EIC</strong></h4>
    <p style="color: black;">by Dr. Meera Singh</p>

</ng-template>
<ng-template swiperSlide>
    <img style="height: 170px; width: 170px;  box-shadow: 3px 3px 3px 3px #d3c3c3;
    border-radius: 10px; " src="https://plus.unsplash.com/premium_photo-1663045484188-2a532ce07b41?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHByb2Zlc3NvcnxlbnwwfHwwfHx8MA%3D%3D" alt="">
    <h4 ><strong>Uttar Pradesh MSME</strong></h4>
    <p style="color: black;">by Shri Rakesh Sachan-MSME</p>

</ng-template>
<ng-template swiperSlide>
    <img style="height: 170px; width: 170px;  box-shadow: 3px 3px 3px 3px #d3c3c3;
    border-radius: 10px; " src="https://images.unsplash.com/photo-1537202108838-e7072bad1927?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHByb2Zlc3NvcnxlbnwwfHwwfHx8MA%3D%3D" alt="">
    <h4 ><strong>Workshop on EIC</strong></h4>
    <p style="color: black;">by Dr. Meera Singh</p>

</ng-template>
<ng-template swiperSlide>
    <img style="height: 170px; width: 170px;  box-shadow: 3px 3px 3px 3px #d3c3c3;
    border-radius: 10px; " src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fG1lZXRpbmd8ZW58MHx8MHx8fDA%3D" alt="">
    <h4 ><strong>Webinar on ESOPS</strong></h4>
    <p style="color: black;">by Mr. Sambhav and Mr. Akash</p>


</ng-template>
<ng-template swiperSlide>
    <img style="height: 170px; width: 170px;  box-shadow: 3px 3px 3px 3px #d3c3c3;
    border-radius: 10px; " src="https://plus.unsplash.com/premium_photo-1661774861781-e540fbc29330?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWVldGluZ3xlbnwwfHwwfHx8MA%3D%3D" alt="">
    <h4 ><strong>Uttar Pradesh MSME</strong></h4>
    <p style="color: black;">by Shri Rakesh Sachan-MSME</p>   
</ng-template>



</swiper>